<div class="row">
  <div class="col-md-5">
    <%= text_field_tag 'attorney[name]', nil, placeholder: 'Attorney Name', class: 'form-control' %>
  </div>
  <div class="col-md-5">
    <%= text_field_tag 'attorney[bar_number]', nil, placeholder: 'Bar Number', class: 'form-control' %>
  </div>
</div>