<h2>Contact Information</h2>

<%= contact_information_for(party) %>

<% if party.party_type == 'Protected Person' || party.party_type == 'Petitioner' || party.party_type == 'Guardian' %>
  <h2>Physical Descriptors</h2>
  <%= physical_descriptors_for(party) %>
<% end%>

<% if party.party_type == 'Protected Person' %>
  <h2>Additional Physical Descriptors</h2>
  <%= additional_protected_person_descriptors_for(party) %>
<% end%>