<h3>Contact Information</h3>
<%= display_attributes(party.contact_info) %>

<% if party.demographic_info %>
  <h3>Demographic Information</h3>
  <%= display_attributes(party.demographic_info) %>
<% end %>

<% if party.protected_person_info %>
  <h3>Additional Information</h3>
  <%= display_attributes(party.protected_person_info) %>
<% end %>

