<h1><%= @party.name %></h1>

<h2>Party Information</h2>
<%= render 'show_contact_info', party: @party %>


<%= link_to "Edit", edit_party_path(@party) %>
<%= link_to party_path(@party), method: 'delete' %>
