<h1></h1>

<ul class="list-group">
  <li class="list-group-item bg-dark text-white">
    <strong class="align-middle">Guardianships</strong>
    <%= link_to 'New', new_guardianship_path, class: "btn btn-primary btn-sm float-right" %>
  </li>
  <% @guardianships.each do |guardianship| %>
    <%= guardianship_name_as_li_link_for(guardianship) %>
  <% end %>
</ul>