<h1><%= @guardianship.short_caption %></h1>

<p><%= @guardianship.description %>

<% party_types.each do |party_type| %>
  <%= render 'parties_list', { guardianship: @guardianship, party_type: party_type } %>
<% end %>