<h1><%= @guardianship.short_caption %></h1>

<p><%= @guardianship.description %>

<%= render 'parties_list', guardianship: @guardianship %>

<%= link_to 'Add Party', new_guardianship_party_path(@guardianship) %>